<h1><%= @list.name %></h1>

<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(movie: movie, list: @list)%>
  <%= movie.title %>
  <%= movie.overview %>
  <%= link_to "Delete this movie", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Confirm ?"} %>
  <%= link_to "return to main menu", lists_path %>
<% end %>
